@import './normalize.css';
@import './mixins.scss';

// general configuration
* {
  box-sizing: border-box;
}
button, a {cursor: pointer}
body {
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}

// common buttons/elements
.gen-img {
  width: 100%;
  height: auto;
}
.c2a-btn {
  color: #fff;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  min-width: 140px;
  border: 0;
  outline: 0;
  border-radius: 200px;
}
.cool-btn {
  background: linear-gradient(to top right, #0596D5, #00FF99);
}
.warm-btn {
  background: linear-gradient(to top right, #FF005F, #FFD500);
}
.svg-outline {
  &, line, circle, path, polyline {
    fill:none !important;
    stroke:#16161C !important;
    stroke-miterlimit:10 !important;
    stroke-width:30px !important;
    stroke-linecap:round !important;
    stroke-linejoin:round !important;
    &.light {stroke: #fff !important}
  }
}
.svg {
  fill:#16161C;
  &.light {fill: #fff}
}

// positioning/layout
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.relative {
  position: relative;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}
.fixed-fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.clearfix {
  clear: both;
  display: table;
  content: '';
}
.one-half, .one-fourth, .one-fifth, .one-third {
  float: left;
  padding: 0 10px;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333%;
}
.one-fourth {
  width: 33.333%;
  @include desktop {
    width: 25%;
  }
}
.one-fifth {
  width: 25%;
  @include tablet {
    width: 20%;
  }
}

// custom scrollbars
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.35);
  border-radius: 1.2rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

.custom-scrollbar.white-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.8);
}
.custom-scrollbar.white-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
