@import '../../styles/mixins';

#navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #16161C;
  width: 100%;
  height: 50px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0,0,0,0.36);
  overflow: hidden;
  font-size: 12px;
  @include tablet {
    font-size: 16px;
    right: auto;
    bottom: 0;
    width: 70px;
    height: 100vh;
    box-shadow: 4px 0 12px rgba(0,0,0,0.36);
  }
}

.nav-btn {
  path, polyline, rect, line {
    fill:none;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:20px;
  }
}

.nav-btn {
  display: inline-block;
  padding: 4px 0 12px;
  border: 0;
  text-align: center;
  height: 100%;
  width: 25%;
  background: none;
  fill: #727272;
  stroke: #727272;
  color: #727272;
  cursor: pointer;
  transition: all .1s ease-out;
  &:focus {
    background: #0d0d0d;
  }
  &:hover, &.active {
    background: #0D0D0D;
    color: #fff;
  }
  @include tablet {
    display: block;
    padding: 8px 0 16px;
    width: 100%;
    height: auto;
  }
}

.nav-btn.home-nav-btn {
  &:hover, &.active {
    stroke: #8000FF;
  }
}
.nav-btn.work-nav-btn {
  &:hover, &.active {
    stroke: #00E5FF;
    fill: #00E5FF;
  }
}
.nav-btn.contact-nav-btn {
  &:hover, &.active {
    stroke: #BCFF00;
  }
}
.nav-btn.skills-nav-btn {
  &:hover, &.active {
    stroke: #FF6600;
  }
}
.nav-btn.resume-nav-btn {
  &:hover, &.active {
    stroke: #0414EE;
  }
}
.resume-nav-btn svg, .resume-nav-btn svg rect {
  fill: none;
}

.nav-btn {
  span {
    font-weight: bold;
  }
  svg {
    margin: 2px auto;
    display: block;
    width: 24px;
    height: 24px;
  }
  @include tablet {
    svg {
      width: 38px;
      height: 38px;
    }
  }
}
