@import '../../../styles/mixins.scss';

#work_page {
  height: 100%;
  color: #16161C;
  .top-content {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 80%;
    width: 650px;
    color: #16161C;
    h1 {
      font-size: 54px;
      margin: 0;
    }
    .description {
      font-size: 18px;
      margin: 24px 0 32px 0;
    }
  }
}

#projects_header {
  position: absolute;
  left: 0;
  top: 55px;
  right: 0;
  padding-right: 8px;
  width: auto;
  display: block;
  @include tablet {
    right: 110px;
    top: 0;
  }
}

#projects_content_techdegree, #projects_content_projects, #expanded_view_container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 110px;
  padding: 0 12px;
  width: auto;
  bottom: 0;
  height: 80%;
  @include tablet {
    top: 85px;
    right: 110px;
    height: auto;
  }
}

#projects_content_techdegree, #projects_content_projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work-block {
  display: flex;
  cursor: pointer;
  color: #16161C;
  margin-bottom: 20px;
  .block-content {
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 10px -6px #210846;
  }
  .content {
    padding: 8px;
    border-top: 1px solid #e2e2e2;
    h4 {
      margin: 5px 0 16px 0;
      font-size: 18px;
      @include lgscreen {
        font-size: 24px;
      }
    }
    p {
      height: 110px;
      overflow-y: auto;
    }
  }
  .image-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
    .type-tag {
      position: absolute;
      top: auto;
      left: auto;
      right: 5px;
      bottom: 5px;
      display: block;
      padding: 8px 16px;
      background: linear-gradient(to bottom left, #F600F6, #A005E1);
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      border-radius: 200px;
    }
    img {
      top: 0;
      transform: translateX(-50%);
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

// expanded view
#expanded_view_container {top: 0}
#expanded_sidebar, #expanded_content .header .inner-content, #expanded_content .content .inner-content {
  background: #fff;
  box-shadow: 2px 0 14px -6px #210846;
}
#expanded_sidebar {
  position: absolute;
  width: 20%;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 2px 0 14px -6px #210846;
  .sidebar-header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: #fff;
    padding: 8px;
    .goBack-btn, .arrow-btn {
      padding: 8px;
      border-radius: 2px;
    }
    .f-right .fancy-button-wrap:first-child {
      margin-right: 5px;
    }
    .arrow-btn svg {
      margin-right: 0;
    }
    span {
      display: inline-block;
      margin: 1px 8px 0 0;
    }
    svg {
      width: 24px;
      height: 24px;
      dislpay: block;
      float: left;
      margin-right: 5px;
    }
  }
  .sidebar-list {
    padding-top: 60px;
    height: 100%;
  }
  .sidebar-list-item {
    display: block;
    padding: 8px;
    border: 0;
    background: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    &.active {
      background: #e0f7f0
    }
    &:not(.active):hover {
      background: #f6f6f6;
    }
    h4 {
      margin: 6px 0 12px 6px;
    }
  }
}
#expanded_content {
  right: 0;
  width: 80%;
  padding-left: 12px;
  left: auto;
  bottom: 0;
  top: 0;
  position: absolute;
  .header {
    width: 100%;
    height: 50%;
    padding-top: 24px;
    padding-bottom: 12px;
    .inner-content {
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0 4px 10px -6px #210846;
      overflow: hidden;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .content {
    padding-top: 12px;
    padding-bottom: 24px;
    width: 100%;
    height: 50%;
    h4 {
      margin: 12px 0 24px 0;
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
    .inner-content {
      width: 100%;
      height: 100%;
      padding: 18px;
    }
  }
  .description {
    max-width: 90%;
  }
  .description-list {
    .description-list-item {
      margin-bottom: 10px;
    }
  }
}


@keyframes shift {
  0% {transform: translate(-10%, -8%)}
  50% {transform: translate(10%, 8%)}
  100% {transform: translate(-10%, -8%)}
}
@keyframes small-shift {
  0% {transform: translate(-12%, -10%)}
  50% {transform: translate(12%, 10%)}
  100% {transform: translate(-12%, -10%)}
}


//svgs
#floating_svg_container {
  .work-rect-lg, .work-rect-sm {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .work-rect-sm {
    animation: small-shift;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    width: 100px;
    height: 200px;
  }
  .work-rect-lg {
    animation: shift;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    width: 300px;
    height: 600px;
  }
  @include tablet {
    .work-rect-sm {
      width: 300px;
      height: 600px;
    }
    .work-rect-lg {
      width: 400px;
      height: 800px;

    }
  }
  #work_rect_lg_1 {
    animation-duration: 10 + random(10) + s;
    left: 10%;
    bottom: -35%;
  }
  #work_rect_lg_2 {
    animation-duration: 10 + random(10) + s;
    left: 15%;
    bottom: -15%;
  }
  #work_rect_lg_3 {
    animation-duration: 10 + random(10) + s;
    right: 0%;
    top: 5%;
  }
  #work_rect_sm_1 {
    animation-duration: 10 + random(10) + s;
    top: -15%;
    left: 5%;
  }
  #work_rect_sm_2 {
    animation-duration: 10 + random(10) + s;
    top: -12%;
    left: 5%;
  }
  #work_rect_sm_3 {
    animation-duration: 10 + random(10) + s;
    left: 25%;
    top: -25%;
  }
  #work_rect_sm_4 {
    animation-duration: 10 + random(10) + s;
    left: 40%;
    top: -10%;
  }
}
